*{
    font-family: Georgia;
}
header{
    background-color: #C75B39;
    color: white;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: #C75B39;
    color: white;
    padding: 10px;
    text-align: center;
}
aside{
    background-color: #FF8A65;
    size: 25%;
    height: 500px;
    padding-top: 50px;
    float: left;
}
section{
    background-color: Snow;
    size: 75%;
    height: 500px;
    text-align: center;
    padding-top: 50px;
}
img{
    size: 25%;
    margin: 10px;
    box-shadow: 15px 15px 10px DimGray;
}
li{
    margin: 5px;
}
ul, ol{
    color: Snow;
}
h3{
    margin: 50px, 50px, 0px, 0px;
}